*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #7ca189;
  font-family: Arial, sans-serif;
}
.Name-card {
  color: #ffffff;
  background-color: #4a6d4f;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 20px;
}
.Main {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}